body {
    background-color: #CF2734;
    background-size: cover;
    height:max-content;
}

header {
    padding: 20px;
    color: white;
}

a {
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}

div#content {
    color: white;
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: center;
    padding: 3rem;
}

.home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.home-title {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.title {
    font-size: 3rem;
    font-weight: bold;
    margin: 0px;
}

.description {
    font-size: 1.2rem;
    margin: 0px;
    font-style: italic;
}

.logo {
    object-fit: contain;
    width: 250px;
    height: 300px;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}