body {
    background-image: url("https://images.unsplash.com/photo-1518685101044-3b5a4e7580a3?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8ZGFyayUyMHJlc3RhdXJhbnR8ZW58MHx8MHx8fDA%3D");
    background-size: cover;
    height:max-content;
}

header {
    background-color: grey;
    padding: 20px
}

div#content {
    color: white;
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: center;
    padding: 3rem;
}

.home-title {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 3rem;
    font-weight: bold;
    margin: 0px;
}